<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>


<div id="ratp-list">
  <form style="margin-left: auto;margin-right: auto;">
    <input type="search" name="tco_libelle" #libelle placeholder="Libellé" (keyup)="search(libelle.value,ville.value.toUpperCase(),cp.value)">
    <input type="search" name="ville" #ville placeholder="Ville" (keyup)="search(libelle.value,ville.value.toUpperCase(),cp.value)">
    <input type="search" name="cp" #cp placeholder="Code postal" (keyup)="search(libelle.value,ville.value.toUpperCase(),cp.value)">
  </form>
  <table style="width: 100%;">
    <tr>
      <th>Libellé     <button type='button' style="width: 30px" (click)="change_tri('lib')">{{(tri.lib)?'^':'v'}}</button></th>
      <th>Ville       <button type='button' style="width: 30px" (click)="change_tri('ville')">{{(tri.ville)?'^':'v'}}</button></th>
      <th>Code postal <button type='button' style="width: 30px" (click)="change_tri('code_postal')">{{(tri.cp)?'^':'v'}}</button></th>
    </tr>
    <tr *ngFor="let commerce of commerces.records ">
      <td>{{commerce.fields.tco_libelle}}</td>
      <td>{{commerce.fields.ville}}</td>
      <td>{{commerce.fields.code_postal}}</td>
    </tr>
</table>
</div>